  body {
      margin: 0;
      color: white;
  }

  .hero {
      background-color: rgb(245, 61, 61);
      padding: 40px;
      text-align: center;
  }

  .logo {
      font-size: 24px;
      font-weight: bold;
  }

  .hero-heading {
      font-size: 48px;
      margin-top: 40px;
      color: yellow;
  }

  .section {
      padding: 40px 20px;
      text-align: center;
      background-color: rgb(5, 5, 173);
  }

  .section.darker {
      background-color: rgb(47, 47, 130);
  }

  .image-row {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
  }

  .image-item img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 10px;
  }

  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 15px;
      margin: 20px 0;
  }

  .gallery img {
      width: 100%;
      border-radius: 8px;
  }

  .buttons {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
  }

  .primary {
      background-color: rgb(254, 254, 4);
      color: red;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 6px;
  }

  .secondary {
      background-color: transparent;
      color: yellow;
      border: 2px solid rgb(243, 243, 5);
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 6px;
  }

  .schedule-table {
      margin: 0%;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      color: #fff;
  }

  .schedule-table th,
  .schedule-table td {
      border: 1px solid rgb(18, 10, 1);
      padding: 30px;
      text-align: center;
  }

  .schedule-table td {
      background-color: #A50044;
  }

  .schedule-table th {
      background-color: #5e87da;
  }

  .schedule-table td:hover {
      background-color: blue;
  }

  .products {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: center;
  }

  .card {
      background: #fdf4f4;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 6px;
      text-align: center;
      width: 180px;
  }

  .card img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: 4px;
  }

  footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 20px;
  }